html{
    width: 1519.2px;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 23px;
    background-image: URL('background image/Achtergrond_LAM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    
}

.balk{
    opacity: 90%;
    display:inline;
}

nav{
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px;
    top: 0;
    width: 100%
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display:inline;

    border-radius: 10px;
    margin: 20px;
    height: 80px;
    width: 200px;
}

nav a{
    
    background-color: white;
    border: black 2px solid;
    text-decoration: none;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.507);
    color: black;
    padding: 10px;
    text-align: center;
    height: 40px;
    width: 100px;
    
}

.balk h3{
    color: rgb(255, 255, 255);
    background-color: rgb(29, 81, 53);
    padding: 20px;
    padding-right: 0%;
    margin: auto;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    border-bottom: black 2px solid;
}

h3{
    color: black;
    
    
}

h2{
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    font-size: 100px;
    padding-left: 312px;
    padding-right: 312px;
    padding-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2.5cm;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.507);
}

.balk{
    width: 1519.2px;
    margin: auto;
    min-height: 20px;

}


.infoBlock{
    position: relative;
    align-self: center;
    text-align: center;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.507);
    margin: auto;
    width: 1170px;
    height: 1634px;
    background-color: rgba(255, 255, 255, 0.80);
    padding: 10px;
    margin-top: 50px;
}

.infoBlock p{
    width:650px;
    height:300px;
    top: 50px;
    padding: 20px;
    border: black 5px double;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.507);
    margin-left: 235px;
    margin-right: 235px;
    color: black;
    background-color: white;
    font-size: 30px;
}

.webXR{
    color: black;
    height:800px;
    bottom: 600px;
    top: 100px;
    padding: 0;
}

.webXR p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 60px;
    padding: 0;
    padding-top: 0px;
    border-radius: none;
    border: none;
    margin: 2px auto;
    margin-left: none;
    margin-right: none;
    color: none;
    font-size: 40px;
    border: black 5px double;
    box-shadow: none;
    
}

.webXR h6{
    position: relative;
    bottom: 130px;
}

.onderbalk{
    color: black;
    width: 100%;
    height: 125px;
}
